.cust-cont {
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(157, 14, 14, 0.4)),url("/homeimage.png");
    height: 60vh;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
@media (min-width:768px){

    .cust-cont {
        background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(157, 14, 14, 0.4)),url("/homeimage.png");
        height: 60vh;
        max-width:100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }
}
.cust-top-container{
    padding: 0;
}
body, html {
    height: 100%;
    }
.Logo{
    background-color: white;
    height:90px;
    width:90px;
    border-radius: 50%;
    position: relative;
    top:40px;
}
#Logo_text{
    font-size:45px;
    font-family: 'Poppins', sans-serif;
    color: #eb2929;
    position: relative;
    margin: auto;
    text-align:right;
    top:15px;
}
@media (min-width:768px) and (max-width:991px){

    .Logo{
        background-color: white;
        height:200px;
        width:200px;
        border-radius: 50%;
        position: relative;
        top:60px;
    }
    
    #Logo_text{
        font-size:150px;
        font-family: 'Poppins', sans-serif;
        color: #eb2929;
        position: relative;
        margin: auto;
        text-align:center;
        position: relative;
        bottom: 25px;
    }
}
@media (min-width:992px){
  .Logo{
        background-color: white;
        height:90px;
        width:90px;
        border-radius: 50%;
        position: relative;
        top:100px;
        left:500px;

    }
    #Logo_text{
        font-size:60px;
        font-family: 'Poppins', sans-serif;
        color: #eb2929;
        position: relative;
        margin: auto;
        text-align:center;
        position: relative;
        top:2px;

    }
}

#find-rest{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size:25px;
    font-weight: 400;
    text-align: center;
    position: relative;
    top:60px;
}
.container{
   padding-left:10px;
    padding-right: 10px; 
}
#inputboxes{
    position: relative;
   

}
.inputbox{
    width:285px;
    height:40px;
    outline:none;
    font-family: 'Poppins', sans-serif;

}
#inputbox2{
    position: relative;
    top:25px;
}
#placeholder1{
    font-family: 'Poppins', sans-serif;
    font-size:15px;
}
@media (min-width:992px){
    #find-rest{
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size:35px;
        font-weight: 400;
        text-align: center;
        position: relative;
        top:140px;
    }
    #inputbox2{
        position: relative;
        top:0px;
        left:20px;
        width:350px;
    }
    #inputbox1{
        width:225px;
    }
    #inputboxes{
        position: relative;
        left:300px;
        top:170px;
        text-align:right;
       
    }



}


/* Quick Search Part */

/*.show_card{
    background-color: red;
    height:175px;
}
.tilepart1{
    background-color: yellow;
    height:175px;
}
.tilepart2{
    background-color: blue;
    height:175px;
}
.cardmain{
    width:17rem;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.cardmain:active{
    transform: scale(0.95);
}
.quick{
    font-family: 'Poppins', sans-serif;
    font-size:1.5rem;
    color:#192f60;
    text-align:center;
}
.discover{
    font-size:1rem;
    color:#8c96ab;
}
@media (min-width:576px){
    .quick{
        font-family: 'Poppins', sans-serif;
    font-size:2rem;
    color:#192f60;
    text-align: left;
    }
    .discover{
        font-size:1.5rem;
        color:#8c96ab;
    }
}
.card_name{
    font-family: 'Poppins', sans-serif;
    color:#192f60;
}
.goodfood{
    font-family: 'Poppins', sans-serif;
    color:#8c96ab;
}
.edumato{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color:#192f60;
}
.search{
    font-family: 'Poppins', sans-serif;
}
.placeholder{
    color:#8c96ab;
}*/